/requirements.txt

*/__pycache__/
*.ipynb_checkpoints
*.pyc
*.pkl
*.pth
*.ckpt
*.log
*.csv
*.sqlite
*.tar
*.gz
*.zip
*.egg-info
.vscode/
.env

/.venv/

wandb/

/worktable.ipynb
/outputs
/.pytest_cache/