/draft
/src
/lightning_logs
/visualizations

/requirements_*
/environment*

*/__pycache__/
*sh
*.ipynb_checkpoints
*.pyc
*.pkl
*.pth
*.ckpt
*.log
*.csv
*.sqlite
*.tar
*.gz
*.zip
*.egg-info
.vscode/
.env